@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

* {
  font-family: 'Roboto', sans-serif;
  box-sizing: border-box;
}

body {
  background: linear-gradient(rgba(0,0,0,0.6),rgba(0,0,0,0.6)), url('https://images.unsplash.com/photo-1454789548928-9efd52dc4031?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1160&q=80')no-repeat;
  height: 100vh;
  width: 100%;
  background-position: center;
  background-size: cover;
}

.container {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.logo {
  color: #fdb54a;
  display: flex;
  align-items: center;
  padding: 1.2em;
  font-size: 1.2em;
  font-weight: bolder;
  letter-spacing: 1px;
  word-spacing: 3px;
}

.nav {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.nav li {
  list-style: none;
}

.nav li a {
  color: #fdb54a;
  text-decoration: none;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: .5em;
  margin-right: 1em;
}

.nav li a:hover {
  color: #23ff52;
}

header {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 250px auto;
}

h1 {
  color: #fdb54a;
  margin-bottom: .4em;
  letter-spacing: 2px;
  word-spacing: 3px;
}

p {
  color: #23ff52;
  margin: 1.8em;
  letter-spacing: 1px;
  word-spacing: 3px;
  line-height: 1.6;
}

button {
  background: #fdb54a52;
  color: #fff;
  border: none;
  padding: 12px 45px;
  font-size: 1.1em;
  text-transform: uppercase;
  letter-spacing: 1px;
  word-spacing: 2px;
  transition: all .5s ease;
}

button:hover {
  background: #23ff534b;
  border-radius: 25px;
  transform: translateY(10px);
}